/* Products Component's private CSS styles */

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}

.margin{
  margin: 50px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button.acao:hover {
  background-color: black !important;
}

button.acao {
  background-color: gray !important;
  color: white;
  z-index: -1;
}
